# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcworkspace
*.xcuserdata
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
/.build/
*.swiftpm/

# Archives
*.xcarchive

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
